{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative">
    <a href="/" class="absolute font-semibold bg-slate-100 top-10 right-30 text-[#4F2FC0] flex items-center justify-center text-lg p-2 w-10 h-10 rounded-full">
        <span class="text-center">X</span>
    </a>
    <div class="max-w-md w-full space-y-8">
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
            <div class="p-2 rounded {{ message.tags }} bg-gray-100 text-center mb-2">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <h2 class="mt-6 text-center text-5xl font-bold text-[#4F2FC0]">
                Join Harmonix!
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Create your account to start connecting with musicians and bands.
            </p>
        </div>

        <form class="mt-8 space-y-6" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="rounded-md space-y-3">
                <div>
                    <label for="role">Role</label>
                    <select id="role" name="role" required
                            class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disabled selected>Choose role</option>
                        <option value="musician" {% if request.POST.role == 'musician' %}selected{% endif %}>Musician</option>
                        <option value="band" {% if request.POST.role == 'band' %}selected{% endif %}>Band</option>
                    </select>
                </div>

                <div>
                    <label for="username">Name</label>
                    <input id="username" name="username" type="text" required 
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                        placeholder="John Doe"
                        value="{{ request.POST.username }}">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required 
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                        placeholder="john@gmail.com"
                        value="{{ request.POST.email }}">
                </div>
                <div>
                    <label for="password1">Password</label>
                    <input id="password1" name="password1" type="password" required 
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                        placeholder="">
                </div>
                <div>
                    <label for="password2">Confirm Password</label>
                    <input id="password2" name="password2" type="password" required 
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                        placeholder="">
                </div>
            </div>

            <div>
                <button type="submit" 
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Register
                </button>
            </div>

            <div class="text-center">
                <span class="text-gray-600">Already have an account?</span>
                <a href="{% url 'login' %}" class="font-semibold text-[#4F2FC0] hover:text-[indigo-500]">
                    Login
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}